body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: #081215;
  color: white;
}

caption {
  margin-bottom: 0.4rem;
  font-size: medium;
  font-weight: bold;
  text-decoration: underline;
}

#compareInfos__rating__gradient {
  height: 1rem;
  width: 100%;
}

table,
td,
th {
  border: 1px solid;
}

td,
th {
  min-width: 20%;
}

table {
  margin-bottom: 1.2rem;
  width: 100%;
  border-collapse: collapse;
}

#main {
  display: flex;
}

#everything {
  padding: 0.1rem;
  position: relative;
}

#content__wrapper {
  margin-left: 20%;
  margin-right: 20%;
}

#settings__button {
  position: absolute;
  top: 0;
  right: 0;
}

.td__duration {
  text-shadow: 0px 0px 4px black;
}

.accordion {
  padding: 0;
  background-color: transparent;
  font-size: medium;
  cursor: pointer;
  border: none;
  text-align: left;
  outline: none;
  transition: 0.4s;
}

.panel {
  padding: 0 18px;
  display: none;
  overflow: hidden;
}
