body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: #081215;
  color: white;
  margin-left: 20%;
  margin-right: 20%;
}

caption {
  margin-bottom: 0.4rem;
  font-size: medium;
  font-weight: bold;
  text-decoration: underline;
}

#compareInfos__rating__gradient {
  height: 1rem;
  width: 100%;
}

table,
td,
th {
  border: 1px solid;
}

td,
th {
  min-width: 20%;
}

table {
  margin-bottom: 1.2rem;
  width: 100%;
  border-collapse: collapse;
}
