$main-margin-bottom: 1.2rem;
$dark-color: #081215;
$light-color: white;

body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: $dark-color;
  color: $light-color;
}

caption,
#compareInfos__rating__title {
  margin-bottom: 0.4rem;
  font-size: medium;
  font-weight: bold;
  text-decoration: underline;
}

#compareInfos {
  #compareInfos__rating__gradient {
    height: 1rem;
    width: 100%;
  }

  #compareInfos__rating__borders {
    display: flex;
    justify-content: space-between;
    margin-bottom: $main-margin-bottom;
  }
}

table,
td,
th {
  border: 1px solid;
}

td,
th {
  min-width: 20%;
}

table {
  margin-bottom: $main-margin-bottom;
  width: 100%;
  border-collapse: collapse;
}

#main {
  padding: 0.4rem;
}

#title {
  margin-top: 0;
}

#content__wrapper {
  margin-left: 20%;
  margin-right: 20%;
}

#settings__wrapper {
  position: absolute;
  padding: 1rem 0.4rem;
  top: 0;
  right: 0;
  z-index: 1;
  background-color: #081215;
  height: 100%;
  border-top-left-radius: 1rem;

  #settings__button {
    position: absolute;
    top: 0.4rem;
    right: 0.4rem;
  }

  #settings__panel {
    display: none;
  }

  #settings__maxDurationDifference {
    width: 4rem;
  }

  .settings__item {
    margin-bottom: $main-margin-bottom;
  }
}

.td__duration {
  text-shadow: 0px 0px 4px black;
}

.accordion {
  padding: 0;
  background-color: transparent;
  font-size: medium;
  cursor: pointer;
  border: none;
  text-align: left;
  outline: none;
  transition: 0.4s;
}

.panel {
  padding: 0 18px;
  display: none;
  overflow: hidden;
}
