$main-margin-bottom: 1.2rem;
$dark-color: #081215;
$light-color: white;

body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: $dark-color;
  color: $light-color;
}

caption,
h3,
#compareInfos__rating__title {
  margin-bottom: 0.4rem;
  font-size: medium;
  font-weight: bold;
  text-decoration: underline;
}

#compareInfos {
  #compareInfos__rating__gradient {
    height: 1rem;
    width: 100%;
  }

  #compareInfos__rating__borders {
    display: flex;
    justify-content: space-between;
    margin-bottom: $main-margin-bottom;
  }
}

table,
td,
th {
  border: 1px solid;
}

td,
th {
  min-width: 25%;
}

table {
  margin-bottom: $main-margin-bottom;
  width: 100%;
  border-collapse: collapse;
}

#main {
  padding: 0.4rem;
}

#title {
  margin-top: 0;
}

#content__wrapper {
  margin-left: 20%;
  margin-right: 20%;
}

#selection__datepicker__wrapper {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  grid-gap: 0.1rem;
  padding: 0.4rem;

  .selection__datepicker__day {
    background-color: $light-color; /* Green */
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.8rem;
    height: 2rem;
    cursor: pointer;

    &__invalid {
      opacity: 0.8;
      cursor: default;
    }
  }
}

#settings__wrapper {
  position: absolute;
  padding: 1rem 0.4rem;
  top: 0;
  right: 0;
  z-index: 1;
  background-color: $dark-color;
  opacity: 0.95;
  height: 100vw;
  max-width: 20%;
  // border-top-left-radius: 1rem;

  #settings__button {
    position: absolute;
    top: 0.4rem;
    right: 0.4rem;
  }

  #settings__panel {
    display: none;
  }

  #settings__maxDurationDifference {
    width: 4rem;
  }

  .settings__item {
    margin-bottom: $main-margin-bottom;
  }
}

.td__duration {
  text-shadow: 1px 1px 2px black;
  padding: 0.2rem;
  width: 20%;
}

.accordion {
  padding: 0;
  background-color: transparent;
  font-size: medium;
  cursor: pointer;
  border: none;
  text-align: left;
  outline: none;
  transition: 0.4s;
}

.panel {
  padding: 0 18px;
  display: none;
  overflow: hidden;
}
